@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 4
   Case Problem 4
   
   Browyer Realty Layout Styles
    Author: Todd Adcox Jr 
    Date:   11-14-18
	
   Filename: br_styles.css

*/
html {
    background: url(br_paper.png);
}

/* body styles */
body {
    background-color: rgba(255, 205, 154, 0.538);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 960px;
    min-width: 640px;
    height: 100%;
}

body p {
    text-shadow: rgb(215, 224, 215) 2px 2px 1px, rgba(21, 21, 21, 0.66) 5px 5px 25px;
}


body>header>img {
    padding: 0px 100px 0px 100px;
}

body>header nav.links li {
    transform: perspective(50px) rotateX(20deg);
    background-color: rgb(255, 205, 154);
    display: block;
    float: left;
    height: 40px;
    letter-spacing: 3px;
    line-height: 40px;
    margin-left: 0%;
    margin-right: 2%;
    width: 7%;
}

body image {
    display: table;
    width: 33%;
    padding: 10px 0px 10px 13px;
}

figure {
    width: 25%;
    float: left;
    display: block;
}

figure::after {
    display: table;
    clear: both;
    content: "";
}



/* nav styles */
nav ul li {
    text-align: center;
    list-style: none;
    display: inline;
    padding: 0px 50px 0px 50px;
    text-decoration: none;
}